@model eShop.ViewModels.Sales.OrderDetail.OrderDetailViewModel

@{
    ViewData["Title"] = "CreateOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "https://localhost:5001/api/Products/GetAllProduct?LanguageId=vi-VN",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var s = '';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + 'Id:' + data[i].id+' '+ data[i].name + ' - Giá:' + data[i].price  + '</option>';
                    }
                    $("#list").html(s);
                }
            })
        })
    </script>

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm Sản phẩm vào đơn hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Thêm Sản phẩm vào đơn hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div>
                    <a class="btn btn-success" asp-action="Index" asp-controller="Order">Về Danh Sách</a>
                </div>
                <hr />
                <form asp-action="CreateOrderDetail" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="OrderId" type="hidden" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label"> Sản phẩm</label>
                        <select id="list">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label"></label>
                        <input asp-for="ProductId" class="form-control" />
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" type="text" class="form-control InputAddingCommas" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control InputAddingCommas" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-success float-right" asp-action="Details" asp-controller="Order" asp-route-id="@Model.OrderId">Kết thúc và xem lại đơn hàng</a>
                    </div>
                  

                </form>
            </div>
        </div>
    </section>
</div>