@model eShop.ViewModels.System.Users.RoleAssignRequest

@{
    ViewData["Title"] = "Gán Quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gán Quyền User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Gán Quyền User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div>
                    <a class="btn btn-success" asp-action="Index" asp-controller="User">Về Danh Sách</a>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="RoleAssign">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="id" />
                            @for (var i = 0; i < Model.Roles.Count; i++)
                            {
                                <div class="form-group">
                                    <label>
                                        @Model.Roles[i].Name
                                        <input type="checkbox" asp-for="Roles[i].Selected" />
                                        <input type="hidden" asp-for="Roles[i].Id" />
                                        <input type="hidden" asp-for="Roles[i].Name" />
                                    </label>
                                </div>
                            }

                            <div class="form-group">
                                <input type="submit" value="Lưu lại" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>