@model eShop.ViewModels.Catalog.Products.ProductUpdateRequest
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Cập nhập sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    @*<script>
            $('#txt_details').ckeditor();
        </script>*@
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'))
            .catch(error => {
                console.error(error);
            });
    </script>

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cập nhập sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Cập nhập sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div>
                    <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về Danh Sách</a>
                </div>
                <hr />
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" data-type="number" class="form-control InputAddingCommas" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OriginalPrice" class="control-label"></label>
                        <input asp-for="OriginalPrice" data-type="number" class="form-control InputAddingCommas" />
                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stock" class="control-label"></label>
                        <input asp-for="Stock" data-type="number" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label"></label>
                        <textarea id="txt_details" asp-for="Details" class="form-control"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescription" class="control-label"></label>
                        <textarea asp-for="SeoDescription" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoTitle" class="control-label"></label>
                        <input asp-for="SeoTitle" class="form-control" />
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoAlias" class="control-label"></label>
                        <input asp-for="SeoAlias" class="form-control" />
                        <span asp-validation-for="SeoAlias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsFeatured" class="control-label"></label>
                        <input name="IsFeatured" type="checkbox" value="true" @((Model.IsFeatured == null || Model.IsFeatured == false ? "" : "checked")) />
                        <input name="IsFeatured" type="hidden" value="false" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label"></label>

                        @if (Model.ThumbnailImage != null && Model.ThumbnailImage.FileName != null && Model.ThumbnailImage.FileName != "no-image.jpg")
                        {
                            <img id="oldImg" src="@(Configuration["BaseAddress"] + Model.ThumbnailImage.FileName)" width="180" height="158" alt="@Model.ThumbnailImage.Name" />
                            <br />
                            <span style="color:red">
                                Thay đổi ảnh
                                <input asp-for="ThumbnailImage" type="file" accept="image/png, image/jpeg"
                                       onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" />

                                <img id="blah" alt="" width="100" height="100" />
                            </span>
                        }
                        else
                        {
                            <input id="imgInp" asp-for="ThumbnailImage" type="file" accept="image/png, image/jpeg"
                                   onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" />
                            <img id="blah" alt="" width="100" height="100" />

                        }

                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhập" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>