@using eShop.ViewModels.Common
@model PagedResult<eShop.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>

    <script src="~/js/controller/product/pagingProductController.js"></script>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo Mới </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <form id="btnSearch">
                            <div class="row">
                                <div class=" col-md-3">
                                    <input type="text" id="Keyword" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                </div>
                                <div class=" col-md-3">
                                    @*<select id="selectCategoryId" name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                            <option>--chọn danh mục--</option>
                                        </select>*@
                                    <select id="selectCategoryId" name="categoryId" asp-items="@ViewBag.Categories" class="form-control">
                                        <option>--chọn danh mục--</option>
                                    </select>
                                </div>
                                <div class=" col-md-3">
                                    <button type="submit" class="btn btn-primary">Tìm</button>
                                    <button type="button" id="btnResetProduct" class="btn btn-dark">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <br />

                <table class="table">

                    <thead>
                        <tr>
                            <th>
                                Mã sản phẩm
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Giá nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            @*<th>
                                    Danh mục
                                </th>*@
                            <th>
                                Số lượng tồn
                            </th>
                            <th>
                                Lượt xem
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="productTopBody">
                    </tbody>
                </table>
                <div class="Pager paginationPager"></div>
            </div>
            @*@await Component.InvokeAsync("Pager", Model)*@
        </div>
    </section>
</div>

<script id="tplProductTop" type="x-tmpl-mustache">

    <tr>
        <td>
            {{ id }}
        </td>
        <td>
            {{ Name }}
        </td>
        <td>
            <div class="AddingCommas">
                {{ OriginalPrice }}
            </div>
        </td>
        <td>
            <div class="AddingCommas">
                ${{ Price }}
            </div>
        </td>
        @*
        <td>
      @Html.DisplayFor(modelItem => item.Categories)
        </td>
        *@
        <td>
            <div class="AddingCommas">
                {{ Stock }}
            </div>
        </td>
        <td>
            {{ ViewCount }}
        </td>
        <td>
            <a href="/Product/Edit/{{id}}">Sửa</a> |
            <a href="/Product/Details/{{id}}">Xem</a> |
            <a href="/Product/Delete/{{id}}">Xoá</a> |
            <a href="/Product/CategoryAssign/{{id}}">Gán danh mục</a>
        </td>
    </tr>
</script>