@model eShop.ViewModels.System.Auth.ResetPasswordRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <link href="~/css/ResetPassword.css" rel="stylesheet" />
</head>

<body>
    <div class="main-block">
        <div class="left-part">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-at"></i>
            <i class="fas fa-mail-bulk"></i>
        </div>
        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h1>Reset Password</h1>
            <div class="info">
                <input type="hidden" asp-for="@Model.Token" />
                <input type="password" asp-for="@Model.Password" placeholder="Password">
                <input type="password" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password">
                <input type="email" asp-for="@Model.Email" placeholder="Email">
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>