@model eShop.ViewModels.Catalog.ProductCategory.ProductCategoryUpdateRequest

@{
    ViewData["Title"] = "Cập nhập danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "https://localhost:5001/api/Categories?languageId=vi-VN",
                dataType: "json",
                success: function (data) {
                    var s = '<option value="">Default</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#list").html(s);
                }
            })
        })
    </script>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cập nhập danh mục sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Cập nhập danh mục sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div>
                    <a class="btn btn-success" asp-action="Index" asp-controller="Category">Về Danh Sách</a>
                </div>
                <hr />
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CategoryId" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescription" class="control-label"></label>
                        <input asp-for="SeoDescription" class="form-control" />
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoTitle" class="control-label"></label>
                        <input asp-for="SeoTitle" class="form-control" />
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SeoAlias" class="control-label"></label>
                        <input asp-for="SeoAlias" class="form-control" />
                        <span asp-validation-for="SeoAlias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SortOrder" class="control-label"></label>
                        <input asp-for="SortOrder" class="form-control" />
                        <span asp-validation-for="SortOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label asp-for="IsShowOnHome" class="form-check-label">
                        </label>
                        <select asp-for="IsShowOnHome">
                            <option value='True'>True</option>
                            <option value='False'>False</option>
                        </select>
                        <span asp-validation-for="IsShowOnHome" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ParentId" class="form-check-label"></label>
                        <select id="list">
                            <input type="hidden" asp-for="ParentId" />
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <select asp-for="status">
                            <option value='1'>True</option>
                            <option value='0'>False</option>
                        </select>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>