@using eShop.ViewModels.Common
@model PagedResult<eShop.ViewModels.Catalog.ProductCategory.ProductCategoryViewModel>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
    <script src="~/js/controller/category/pagingCategoryController.min.js"></script>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh mục sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Danh mục sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Category">Tạo Mới </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <form id="btnSearch">
                            <div class="row">
                                <div class=" col-md-3">
                                    <input type="text" id="Keyword" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                </div>

                                <div class=" col-md-3">
                                    <button type="submit" class="btn btn-primary">Tìm</button>
                                    <button type="button" id="btnResetCategory" class="btn btn-dark">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <br />

                <table class="table">

                    <thead>
                        <tr>
                            <th>
                                Mã danh mục
                            </th>

                            <th>
                                Tên danh mục
                            </th>
                            <th>
                                Mô tả SEO
                            </th>

                            <th>
                                Từ khoá SEO
                            </th>
                            <th>
                                Thứ tự sắp xếp
                            </th>
                            <th>
                                Hiện thị trang chủ
                            </th>
                            <th>
                                Danh mục cha
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="categoryTopBody">
                    </tbody>
                </table>
                <div class="Pager paginationPager"></div>
            </div>
        </div>
    </section>
</div>
<script id="tplCategoryTop" type="x-tmpl-mustache">
           <tr>
                                <td>
                                   {{id}}
                                </td>
                                <td>
                              {{Name}}
                                </td>
                                <td>
                                {{SeoDescription}}
                                </td>

                                <td>
                               {{SeoAlias}}
                                </td>
                                <td>
                                 {{SortOrder}}
                                </td>
                                <td>
                             {{IsShowOnHome}}
                                </td>
                                <td>
                               {{ParentId}}
                                </td>

                                <td>
                            <a href="/Category/Edit/{{CategoryId}}">Sửa</a> |
                            <a href="/Category/Details/{{CategoryId}}">Xem</a> |
                            <a href="/Category/Delete/{{CategoryId}}">Xoá</a> |
                                </td>
                            </tr>
</script>